:root{
    --color__core__primary: #1e1919;
    --color__core__secondary: #f7f5f2;
    --color__core__accent: #0061fe;
    --color__button__primary__hover: #0057e5;
    --color__button__primary__active: #0050d0;
    --color__standard__text: #1e1919;
    --color__background: #fbfaf9;
    --primary_font_family: 'Dela Gothic One' , cursive;
    --secondary_font_family: 'Montserrat', sans-serif;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--color__background);
}

.logo{
    width: 50px;
    height: 50px;
    top: 0;
}

.logo-brand{
    font-weight: 700;
    font-size: large;
}

.top-nav{
    color: var(--color__core__primary);
}

.button{
    background-color: var(--color__button__primary__active);
    border: none;
    user-select: none;
    color: var(--color__core__secondary);
    font-weight: 700;
    width: 105px;
}

.button:hover{
    background-color: var(--color__button__primary__hover);
}

.sect-1{
    padding: 50px;
    display: inline-block;
    background-color: var(--color__core__primary);
    justify-content: center;
    align-content: center;
}

.t-1{
    text-align: center;
}

.down-content{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.button-find{
    color: var(--color__core__secondary);
    background-color: var(--color__button__primary__active);
    width: auto;
    max-width: 100%;
    padding: 20px;
    border: none;
    user-select: none;
}

.button-find:hover{
    background-color: var(--color__button__primary__hover);
}

.down-content-title{
    display: flex; 
    justify-content: center; 
    align-content: center;
    font-size: 45px;
}

.down-content{
    font-size: 18px;
}


.dropdown{
    position: relative;
    width: 230px;
}

.dropdown-face,
.dropdown-items{
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
}

.dropdown-face{
    display: block;
    position: relative;
}

.dropdown-items{
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown::before{
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
}

.dropdown-arrow{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
}

input{
    display: none;
    width: 200px;
}

input:checked ~ .dropdown-items{
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
}

.sect-2{
    display: flex;
    background-color: var(--color__background);
    padding-top: 10px;
    justify-content: space-between;

    user-select: none;
}

.top-left .top-right{
    display: flex;
}

.down-button{
    margin: 20px;
}

.down-button-link{
    color: #000;
    text-decoration: none;
}

.right-down-button{
    margin: 20px;
}

.right-down-button-link{
    color: #fff;
    text-decoration: none;
}

.sect-2-left{
    background-color: #428affa1;
    padding: 50px;
    height: 650px;
    margin-left: 0;
}

.sect-2-right{
    background-color: #428bff;
    padding: 50px;
    color: antiquewhite;
    height: 650px;
    margin-right: 0;
}