:root{
    --color__core__primary: #1e1919;
    --color__core__secondary: #f7f5f2;
    --color__core__accent: #0061fe;
    --color__button__primary__hover: #0057e5;
    --color__button__primary__active: #0050d0;
    --color__standard__text: #1e1919;
    --color__background: #fbfaf9;
    --primary_font_family: 'Dela Gothic One' , cursive;
    --secondary_font_family: 'Montserrat', sans-serif;
    --disabled-background: #e6e2df;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--color__background);
}

.logo{
    width: 50px;
    height: 50px;
    top: 0;
}

.logo-brand{
    font-weight: 700;
    font-size: large;
}

.top-nav{
    color: var(--color__core__primary);
}

.button{
    background-color: var(--color__button__primary__active);
    border: none;
    user-select: none;
    color: var(--color__core__secondary);
    font-weight: 700;
    width: 105px;
}

.button:hover{
    background-color: var(--color__button__primary__hover);
}

.sect-1{
    padding: 50px;
    display: inline-block;
    background-color: var(--color__core__primary);
    justify-content: center;
    align-content: center;
}

.t-1{
    text-align: center;
}

.down-content{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.button-find{
    color: var(--color__core__secondary);
    background-color: var(--color__button__primary__active);
    width: auto;
    max-width: 100%;
    padding: 20px;
    border: none;
    user-select: none;
}

.button-find:hover{
    background-color: var(--color__button__primary__hover);
}

.down-content-title{
    display: flex; 
    justify-content: center; 
    align-content: center;
    font-size: 45px;
}

.down-content{
    font-size: 18px;
}



.sect-2{
    display: flex;
    background-color: var(--color__background);
    padding-top: 10px;
    justify-content: space-between;

    user-select: none;
}

.top-left .top-right{
    display: flex;
}

.down-button{
    margin: 20px;
}

.down-button-link{
    color: #000;
    text-decoration: none;
}

.right-down-button{
    margin: 20px;
}

.right-down-button-link{
    color: #fff;
    text-decoration: none;
}

.sect-2-left{
    background-color: #428affa1;
    padding: 50px;
    height: 650px;
    margin-left: 0;
}

.sect-2-right{
    background-color: #428bff;
    padding: 50px;
    color: antiquewhite;
    height: 650px;
    margin-right: 0;
}

.sect-3-head{
    background-color: var(--disabled-background);
    text-align: center;
    margin-top: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sect-3::before, .sect-3::after{
    background-color: var(--disabled-background);
}

.dropdown-head{
    font-size: 30px;
}

.dropdown-sub{
    font-size: 14px;
}

.sect-3-content{
    display: flex;
}

input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs{
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
}

.tab{
    width: 100%;
    overflow: hidden;
}

.tab-label{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--color__background);
    font-weight: medium;
    font-size: 14px;
    cursor: pointer;
}

.tab-label:hover{
    background: darken(var(--color__background), 10%);
}

.tab-label::after{
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .1.5s;
}

.tab-content{
    max-height: 0;
    padding: 0 10px;
    color: #1e1919;
    background: white;
    transition: all .2s;
    font-size: 13px;
}

input:checked + .tab-label{
    background: darken(var(--color__background), 10%);
}

input:checked + .tab-label:after{
    transform: rotate(90deg);
}

input:checked ~ .tab-content{
    max-height: 100vh;
    padding: 10px;
}

.accordion-link-cont{
    margin-top: 15px;
}

.accordion-link{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.712);
}

.accordion-link:hover{
    color: #000;
}

.Display{
    height: 670px;
    width: 700px;
    background-color: #7daefd;
}

.image{
    width: 600px;
    height: 500px;
    transform: translate(60px, 100px);
}

.sect-4{
    background-color: var(--disabled-background);
}

.sect-4-head{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/*section 4*/
.sect-4-content-1{
    display: flex;
    justify-content: center;
    align-content: center;
}

.sect-4-subcontent-1{
    background-color: var(--color__background);
}

.sect-4-sub-subcontent-1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.sect-4-img{
    width: 450px;
    height: 200px;
}

.sect-4-sub-1{
    font-size: 25px;
    font-weight: 500;
}

.sect-4-sub-2{
    font-size: 25px;
    font-weight: 500;
    padding-left: 15px;
}

.sect-4-parag-1{
    font-size: 12px;
}

.sect-4-parag-2{
    font-size: 12px;
    padding-left: 15px;
}

.sect-4-btn-1{
    margin-top: 33px;
    background-color: #0050d0;
    margin-right: 15px;
    color: var(--color__background);
    padding: 20px;
}

.sect-4-btn-2{
    margin-top: 15px;
    background-color: #0050d0;
    margin-left: 15px;
    color: var(--color__background);
    padding: 20px;
}