:root{
    --color__core__primary: #1e1919;
    --color__core__secondary: #f7f5f2;
    --color__core__accent: #0061fe;
    --color__button__primary__hover: #0057e5;
    --color__button__primary__active: #0050d0;
    --color__standard__text: #1e1919;
    --color__background: #fbfaf9;
    --primary_font_family: 'Dela Gothic One' , cursive;
    --secondary_font_family: 'Montserrat', sans-serif;
    --disabled-background: #e6e2df;
    --color-1: #9b0032;
    --color-2: #fa551e;
    --color-3: #007891;
    --color-4: #b4dc19;
    --color-5: #78286e;
    --color-6: #ffafa5;
    --color-7: #fad24b;
}


*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--color__background);
}

.logo{
    width: 50px;
    height: 50px;
    top: 0;
}

.logo-brand{
    font-weight: 700;
    font-size: large;
}

.top-nav{
    color: var(--color__core__primary);
}

.button{
    background-color: var(--color__button__primary__active);
    border: none;
    user-select: none;
    color: var(--color__core__secondary);
    font-weight: 700;
    width: 105px;
}

.button:hover{
    background-color: var(--color__button__primary__hover);
}

.sect-1{
    padding: 50px;
    display: inline-block;
    background-color: var(--color__core__primary);
    justify-content: center;
    align-content: center;
}

.t-1{
    text-align: center;
}

.down-content{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.button-find{
    color: var(--color__core__secondary);
    background-color: var(--color__button__primary__active);
    width: auto;
    max-width: 100%;
    padding: 20px;
    border: none;
    user-select: none;
}

.button-find:hover{
    background-color: var(--color__button__primary__hover);
}

.down-content-title{
    display: flex; 
    justify-content: center; 
    align-content: center;
    font-size: 45px;
}

.down-content{
    font-size: 18px;
}



.sect-2{
    display: flex;
    background-color: var(--color__background);
    padding-top: 10px;
    justify-content: space-between;

    user-select: none;
}

.top-left .top-right{
    display: flex;
}

.down-button{
    margin: 20px;
}

.down-button-link{
    color: #000;
    text-decoration: none;
}

.right-down-button{
    margin: 20px;
}

.right-down-button-link{
    color: #fff;
    text-decoration: none;
}

.sect-2-left{
    background-color: #428affa1;
    padding: 50px;
    height: 650px;
    margin-left: 0;
}

.sect-2-right{
    background-color: #428bff;
    padding: 50px;
    color: antiquewhite;
    height: 650px;
    margin-right: 0;
}

/*section 3*/

.sect-3-head{
    background-color: var(--disabled-background);
    text-align: center;
    margin-top: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sect-3::before, .sect-3::after{
    background-color: var(--disabled-background);
}

.dropdown-head{
    font-size: 30px;
}

.dropdown-sub{
    font-size: 14px;
}

.sect-3-content{
    display: flex;
}

input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs{
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
}

.tab{
    width: 100%;
    overflow: hidden;
}

.tab-label{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--color__background);
    font-weight: medium;
    font-size: 14px;
    cursor: pointer;
}

.tab-label:hover{
    background: darken(var(--color__background), 10%);
}

.tab-label::after{
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .1.5s;
}

.tab-content{
    max-height: 0;
    padding: 0 10px;
    color: #1e1919;
    background: white;
    transition: all .2s;
    font-size: 13px;
}

input:checked + .tab-label{
    background: darken(var(--color__background), 10%);
}

input:checked + .tab-label:after{
    transform: rotate(90deg);
}

input:checked ~ .tab-content{
    max-height: 100vh;
    padding: 10px;
}

.accordion-link-cont{
    margin-top: 15px;
}

.accordion-link{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.712);
}

.accordion-link:hover{
    color: #000;
}

.Display{
    height: 670px;
    width: 700px;
    background-color: #7daefd;
}

.image{
    width: 600px;
    height: 500px;
    transform: translate(60px, 100px);
}

.sect-4{
    background-color: var(--disabled-background);
}

.sect-4-head{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/*section 4*/
.sect-4-content-1{
    display: flex;
    justify-content: center;
    align-content: center;
}

.sect-4-subcontent-1{
    background-color: var(--color__background);
}

.sect-4-sub-subcontent-1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.sect-4-img{
    width: 450px;
    height: 200px;
}

.sect-4-sub-1{
    font-size: 25px;
    font-weight: 500;
}

.sect-4-sub-2{
    font-size: 25px;
    font-weight: 500;
    padding-left: 15px;
}

.sect-4-parag-1{
    font-size: 12px;
}

.sect-4-parag-2{
    font-size: 12px;
    padding-left: 15px;
}

.sect-4-btn-1{
    margin-top: 33px;
    background-color: #0050d0;
    margin-right: 15px;
    color: var(--color__background);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.sect-4-btn-2{
    margin-top: 15px;
    background-color: #0050d0;
    margin-left: 15px;
    color: var(--color__background);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.sect-4-subhead{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.sect-4-subhead-link{
    font-size: 12px;
    color: black;
}

.sect-4-subhead-link-cont{
    text-align: center;
    padding-top: 10px;
}

.sect-4-content-2-cont{
    display: flex;
    margin-left: 150px;
    /* margin-right: 30px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.sect-4-content-2{
    display: flex;
    font-size: 14px;
    justify-content:space-between;
    align-content: center;
    margin-top: 50px;
    /* padding-top: 30px;
    padding-left: 60px; */
}

.sub-4-content-2-img{
    width: 50px;
    height: 40px;
    padding-left: 10px;
}

.sect-4-content-2-title{
    margin-top: 20px;
}

.sect-4-content-2-body{
    margin-top: 15px;
}

.sect-4-content-2-minicont-1{
    margin-left: 50px;
}

.sect-4-content-2-minicont-2{
    margin-left: 60px;
}

.sect-4-content-2-minicont-as{
    margin-left: 80px;
}

/* section-5 */
.sect-5{
    background-color: var(--color__core__primary);
    padding: 20px;
}

.sect-5-head{
    color: var(--color__background);
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.sect-5-head-link{
    text-align: center;
    font-size: 12px;
    color: #f7f5f2;
    padding-top: 20px;
}

.sect-5-sub-link{
    color: #f7f5f2;
}

ul{
    list-style: none;
}

.slide1, 
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7{
   display: flex;
   width: 1200px;
   height: 400px;
   margin-top: 20px;
}

.slide1-img, 
.slide2-img,
.slide3-img,
.slide4-img,
.slide5-img,
.slide6-img,
.slide7-img{
    width: 600px;
    height: 400;
}

.slide1-content, 
.slide2-content,
.slide3-content,
.slide4-content,
.slide5-content,
.slide6-content,
.slide7-content{
    color: white;
    padding: 20px;
    width: 600px;
}

.slide1-content div:first-of-type, 
.slide2-content div:first-of-type,
.slide3-content div:first-of-type,
.slide4-content div:first-of-type,
.slide5-content div:first-of-type,
.slide6-content div:first-of-type,
.slide7-content div:first-of-type{
    font-size: 20px;
    font-weight: 600;
}

.slide1-content div:last-of-type,
.slide2-content div:last-of-type,
.slide3-content div:last-of-type,
.slide4-content div:last-of-type,
.slide5-content div:last-of-type,
.slide6-content div:last-of-type,
.slide7-content div:last-of-type{
    font-size: 14px;
    margin-top: 230px;
}

.slide1-content div:nth-of-type(2) a,
.slide2-content div:nth-of-type(2) a,
.slide3-content div:nth-of-type(2) a,
.slide4-content div:nth-of-type(2) a,
.slide5-content div:nth-of-type(2) a,
.slide6-content div:nth-of-type(2) a,
.slide7-content div:nth-of-type(2) a{
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}

.slide1-content{
    background-color: var(--color-1);
}

.slide2-content{
    background-color: var(--color-2);
}

.slide3-content{
    background-color: var(--color-3);
}

.slide4-content{
    background-color: var(--color-4);
}

.slide5-content{
    background-color: var(--color-5);
}

.slide6-content{
    background-color: var(--color-6);
}

.slide7-content{
    background-color: var(--color-7);
}

.carousel{
    position: relative;
}
  
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{
    opacity: 1;
}

.slide > .slide1 > img{
    display: block;
    width: 100%;
    height: 100%;
}

.slide-button{
    position: absolute;
    /* background: none; */
    border: none;
    z-index: 2;
    font-size: 70px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    /* border-radius: .25rem; */
    padding:0, .5rem;
    background-color:rgba(0, 0, 0, 0.845);
    width: 90px;
}
/* 
.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
} */

.slide-button:hover,
.slide-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.slide-button.prev{
    left: 1rem;
}

.slide-button.next{
    right: 1rem;
}